@using FreeSpeakWeb.Components.SocialFeed
@using FreeSpeakWeb.Components.Shared
@using FreeSpeakWeb.Data
@using FreeSpeakWeb.Helpers
@using FreeSpeakWeb.Services
@using Microsoft.JSInterop
@using Microsoft.Extensions.Localization
@inherits PostDetailModalBase
@inject IStringLocalizer<FreeSpeakWeb.Resources.SocialFeed.PostDetailModal> Localizer

<div class="post-detail-modal-backdrop" @onclick="OnClose">
    <div class="post-detail-modal-container" @onclick:stopPropagation="true">
        <div class="post-detail-modal-header">
            <h2>@Localizer["PostDetails"]</h2>
            <button type="button" class="close-button" @onclick="OnClose">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
        <div class="post-detail-modal-content" @ref="modalContentElement">
            <FeedArticle 
                PostId="@PostId"
                AuthorId="@AuthorId"
                AuthorName="@AuthorName"
                AuthorImageUrl="@AuthorImageUrl"
                CurrentUserId="@CurrentUserId"
                CreatedAt="@CreatedAt"
                ArticleContent="@ArticleContent"
                LikeCount="@LikeCount"
                CommentCount="@totalCommentCount"
                ShareCount="@ShareCount"
                DirectCommentCount="@directCommentCount"
                Comments="@modalComments"
                CurrentUserImageUrl="@CurrentUserImageUrl"
                CurrentUserName="@CurrentUserName"
                ReactionBreakdown="@ReactionBreakdown"
                UserReaction="@UserReaction"
                AudienceType="@AudienceType"
                IsPinned="@IsPinned"
                Images="@Images"
                OnReactionChanged="@OnReactionChanged"
                OnRemoveReaction="@OnRemoveReaction"
                OnPinPost="@OnPinPost"
                OnUnpinPost="@OnUnpinPost"
                OnAudienceTypeChanged="@OnAudienceTypeChanged"
                OnPostDeleted="@HandlePostDeleted"
                OnCommentAdded="@HandleCommentAdded"
                OnReplySubmitted="@HandleReplySubmitted"
                OnCommentReactionChanged="@HandleCommentReactionChanged"
                OnRemoveCommentReaction="@HandleRemoveCommentReaction"
                OnDeleteComment="@HandleDeleteComment"
                OnEditComment="@OnEditComment"
                OnCommentUpdated="@OnCommentUpdated"
                OnReportComment="@OnReportComment"
                IsModalView="true"
                IsReadOnly="@IsReadOnly"
                HideCommentEditor="true" />

            @if (isLoadingComments && !modalComments.Any())
            {
                <LoadingSpinner Text="@Localizer["Loading"]" />
            }

            @if (isLoadingMoreComments)
            {
                <LoadingSpinner Text="@Localizer["Loading"]" Size="sm" />
            }
        </div>

        <!-- Fixed Comment Editor at Bottom -->
        @if (!IsReadOnly)
        {
            <div class="post-detail-modal-footer">
                @if (directCommentCount < SiteSettings.Value.MaxFeedPostDirectCommentCount)
                {
                    <div class="modal-comment-editor">
                        @if (!string.IsNullOrEmpty(CurrentUserImageUrl))
                        {
                            <img src="@CurrentUserImageUrl" alt="You" class="comment-user-avatar" />
                        }
                        else
                        {
                            <div class="comment-user-avatar comment-avatar-placeholder">
                                    <span class="comment-avatar-initial">@CommentHelpers.GetInitials(CurrentUserName ?? "User")</span>
                                </div>
                        }
                        <div class="editor-wrapper">
                            <MultiLineCommentEditor OnCommentSubmitted="HandleCommentSubmittedInModal" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="modal-comment-limit-message">
                        <span>No more comments allowed</span>
                    </div>
                }
            </div>
        }
    </div>
</div>

