@page "/Error"
@using System.Diagnostics
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization

@inject IOptions<SiteSettings> SiteSettings
@inject IStringLocalizer<FreeSpeakWeb.Resources.Pages.Error> Localizer

<PageTitle>@SiteSettings.Value.SiteName - @Localizer["PageTitle"]</PageTitle>

<h1 class="text-danger">@Localizer["ErrorTitle"]</h1>
<h2 class="text-danger">@Localizer["ErrorMessage"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestId"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@Localizer["DevelopmentModeTitle"]</h3>
<p>
    @Localizer["DevelopmentModeMessage"]
</p>
<p>
    <strong>@Localizer["DevelopmentModeWarning"]</strong>
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
